:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d6dbd9;
}

.dark-mode body {
  background-color: #1c313c;
  color: white;
}


.splash-page {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-image: linear-gradient(rgb(149, 149, 149), rgb(117, 255, 149));

  z-index: 9999;

  transition: opacity 1s ease;
  opacity: 1;
}

.splash-page.hidden {
  opacity: 0;
  pointer-events: none;
}

.background-top {
  position: relative;
  left: 0;
  right: 0;
  top: 0;

  min-width: 100%;
  height: 150px;

  background-color: #009688;
}

.dark-mode .background-top {
  background-color: #151c21;
}

.chat-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin-top: 28px;
  margin-bottom: 28px;

  display: flex;
}

.chat {
  flex: 2;

  background-color: #fff;
}

.dark-mode .chat,
.dark-mode .side-bar {
  background-color: #112e2b;
}

img {
  height: 100%;
  border-radius: 30px;
}

.side-bar {
  flex: 1;

  background-color: #fff;
}

.profile,
.addressee {
  height: 70px;
  background-color: #eaeaea;
}

.dark-mode .profile,
.dark-mode .addressee,
.dark-mode .notify-icon,
.dark-mode .search-bar,
.dark-mode .active,
.dark-mode .received {
  background-color: #202d36;
}

.profile-pic {
  margin-left: 10px;

  height: 50px;
  width: 50px;

  border-radius: 30px;
}

i {
  color: #b1b1b1;
}

.dark-mode i {
  color: black;
}

.notify-icon {
  background-color: #f2fbff;
}

.notify-icon i {
  color: #8edafc;
}

.dark-mode .notify-icon i {
  color: #9a9a9a;
}

.notification {
  height: 84px;

  background-color: #8edafc;
}

.dark-mode .notification {
  background-color: #0b5951;
}

a {
  color: #547c8e;
  font-size: 14px;
}

.dark-mode a {
  color: #cad5da;
}

.search-bar {
  background-color: #fafafa;
}

#addon-wrapping {
  background-color: white;
}

.dark-mode #addon-wrapping {
  background-color: #202d36;
  border: black 1px solid;
}

.dark-mode input {
  background-color: #2a3a46;
  border: #000000 1px solid;
}

.dark-mode ::placeholder {
  color: white;
}

.contacts {
  height: calc(100% - 84px - 70px - 82px + 28px);
  overflow-y: auto;
}

.contact {
  height: 82px;
  padding-left: 10px;
  cursor: pointer;
  display: flex;

  background-color: white;
  border: #e9ebeb 1px solid;
}

.dark-mode .contact {
  background-color: #111e27;
  border: black 1px solid;
}

.active {
  background-color: #e9ebeb;
}

.user-pic {
  height: 60px;
  width: 60px;

  border-radius: 30px;
}

.name {
  font-size: 18px;
  font-weight: 600;
}

.last-message {
  font-size: 15px;
  color: #bfc6d4;
}

.last-access {
  color: #547c8e;
  font-size: 14px;
}

.middle-container {
  flex: 1;

  height: calc(100% - 70px - 70px);

  background-image: url(../img/mine.jpg);


  overflow-y: auto;
}

.dark-mode .middle-container {
  background-image: url(/img/dark.jpg);
}

.form-control {
  flex: 1;
}

.dark-mode .form-control {
  background-color: #2a3a46;
}

.my-message,
.your-message {
  overflow-wrap: break-word;

  padding: 10px;
  padding-right: 15px;
  padding-bottom: 0px;
  border-radius: 10px;

  max-width: 350px;

  margin-left: 30px;
  margin-right: 30px;
}

p {
  margin: 0;
}

.message-text {
  border-radius: 10px;
  flex-wrap: wrap;
}

.sent {
  background-color: #d5f9ba;
}

.dark-mode .sent {
  background-color: #064743;
}

.received {
  background-color: #ffffff;
}

.time {
  margin: 2px;

  color: #bdbec7;
  font-size: 10px;
}

.my-message .fa-chevron-down {
  visibility: hidden;
}

.my-message:hover .fa-chevron-down {
  visibility: visible;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.581);
}

.sent:hover .fa-chevron-down {
  visibility: visible;
  cursor: pointer;
  background-color: #d5f9baac;
}

#toggle-btn {
  display: inline-block;
  scale: 0.5;
  width: 86px;
  height: 48px;
  background-color: #1EC3F4;
  background-size: 100%;
  border-radius: 24px;
  position: relative;
  transition: all ease-in-out .4s;
  cursor: pointer;
}

#toggle-btn::before {
  position: absolute;
  scale: 0.7;
  width: 36px;
  height: 36px;
  background-color: white;
  border-radius: 50%;
  left: 6px;
  top: 6px;
  content: '';
  transition: all ease-in-out .4s;
  z-index: 10;
}

#toggle-btn.toggle-btn--dark {
  background-color: #13447E;
}

#toggle-btn.toggle-btn--dark::before {
  left: 44px;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgb(159, 159, 159);
}

.dark-mode *::-webkit-scrollbar-track {
  background-color: #515151;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(187, 187, 187);
  border-radius: 20px;
}

.dark-mode *::-webkit-scrollbar-thumb {
  background-color: #202d36;
}

@media screen and (max-width: 768px) {
  #textChat {
    overflow: hidden;
    width: 100vw;
    transition: all 0.5s ease;
    flex: 1;

  }

  #sideBar {
    overflow: hidden;
    width: 0vw;
    transition: all 0.5s ease;
    flex: 0;

  }

  .chat-container {
    margin: 0;
    padding: 0;
  }
}